main(ng-cloak ng-controller="PuzzleListController as puzzleList")
	div(class="allPuzzles")
		div(class="puzzleCard" ng-repeat="puzzle in puzzleList.puzzles")
			div(class="cardRow")
				div(class="contentContainer") 
					div(class="puzzleTitle") {{puzzle.name}}
					div(class="puzzleDifficulty") Difficulty: {{puzzle.difficulty}}
			a(class="cardRow" ng-href="/#/puzzles/{{puzzle.puzzleId}}") Try this puzzle
