doctype html
html(ng-app="SudokuApp" ng-controller="GlobalController as global" ng-click="global.board.toggleSelector(boxCol, boxRow, $event);")
	head
		title ExpressSudoku
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css')
	body
		header
			h1 Express Sudoku
			nav
				ul
					li
						a(class="navButton Home" href='/#/index')
							div(class="navButtonBackground")
							p Home
					li
						a(class="navButton allPuzzles" href='/#/allpuzzles')
							div(class="navButtonBackground")
							p All Puzzles
		ng-view
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js')
		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js')
		script(type='text/javascript', src='/javascripts/app.js')
		script(type='text/javascript', src='/javascripts/sudokuboard.js')
		script(type='text/javascript', src='/javascripts/puzzlelist.js')