extends layout

block content
	main
		table(class="sudoku-board" ng-controller="SudokuController as sudoku")
			tr(ng-repeat = "regRow in [0,1,2]")
				td(ng-repeat = "regCol in [0,1,2]" class="sudoku-region")
					table(class="sudoku-region")
						tr(ng-repeat = "boxRow in [0,1,2]")
										div(ng-repeat = "number in ['1','2','3','4','5','6','7','8','9']" ng-class="'number ' + 'value' + number" align="center") 
											a(href="#") {{number}}
									div(class="value")
										{{sudoku.board[regCol][regRow][boxCol][boxRow].val}}
