body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
	border-collapse: collapse;
	border: 2px solid;
	margin: 0px;
	padding: 0px;
	width: 473px;
	height: 473px;
}

td, tr {
	border: 1px dashed;
}


td {
	width: 11.111111%;
	height: 11.111111%;
	position: relative;
	overflow: visible;
	text-align: center;
}


tr:nth-child(3n){
	border-bottom:2px solid;
}

td:nth-child(3n+1) {
	border-left: 2px solid;
}

td:hover {
	background-color: rgb(200, 200, 200);
}


div.value {
	position: static;
	display: block;
	font-size: 180%;
}

div.number-picker {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px dashed;
	z-index: 99;
}

div.number-picker div.number {
	position: absolute;
	display: block;
	height: 1em;
	width: 1em;
	line-height: 1em;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: auto;
	border-radius: 50%;
}

div.number-picker div.number a{
	border-radius: 50%;
	z-index: 100;
}
div.number-picker div.number:hover{
	background-color: red;
	font-color: white;
}

div.value1 { 
	-webkit-transform: rotate(-90deg) translate(200%) rotate(90deg);
}

div.value2 { 
	-webkit-transform: rotate(-50deg) translate(200%) rotate(50deg); 
}
div.value3 { 
	-webkit-transform: rotate(-10deg) translate(200%) rotate(10deg); 
}
div.value4 { 
	-webkit-transform: rotate(30deg) translate(200%) rotate(-30deg); 
}
div.value5 { 
	-webkit-transform: rotate(70deg) translate(200%) rotate(-70deg);
}
div.value6 { 
	-webkit-transform: rotate(110deg) translate(200%) rotate(-110deg); 
}
div.value7 { 
	-webkit-transform: rotate(150deg) translate(200%) rotate(-150deg); 
}
div.value8 { 
	-webkit-transform: rotate(190deg) translate(200%) rotate(-190deg); 
}
div.value9 { 
	-webkit-transform: rotate(230deg) translate(200%) rotate(-230deg); 
}