body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
  color: #00B7FF;
}

div.sudoku-container {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width: 473px;
	height: 100%;
}


table.sudoku-board {
	border-collapse: collapse;
	border: 2px solid;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 473px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

table.sudoku-board td, table.sudoku-board tr {
	border: 1px dashed;
}


table.sudoku-board td {
	width: 11.111111%;
	height: 11.111111%;
	position: relative;
	overflow: visible;
	text-align: center;
}

div.sudoku-board-buttons {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}


div.color-key-container {
	width: 50%;
	padding: 1%;
	border: 1px solid;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

div.color-key-container div.color-key-title {
	width: 100%;
	text-align: center;
	padding: 0;
}

table.color-key {
	border: none;
	width: 100%;
	padding: 0;
}


table.sudoku-board tr:nth-child(3n){
	border-bottom:2px solid;
}

table.sudoku-board td:nth-child(3n+1) {
	border-left: 2px solid;
}


td.invalid-box-value, table.color-key tr.invalid-box-value td.color-column div.color {
	background-color: rgb(255, 0, 0);
}

td.one-possible-box-value,  table.color-key tr.one-possible-box-value td.color-column div.color {
	background-color: rgb(0, 255, 0);
}

table.color-key tr.invalid-box-value td.color-column, table.color-key tr.one-possible-box-value td.color-column {
	padding: 10%;
	position: relative;
}



table.color-key tr.invalid-box-value td.color-column div.color,  table.color-key tr.one-possible-box-value td.color-column div.color{
	width: 2em;
	height: 2em;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

table.color-key tr.invalid-box-value td.description, table.color-key tr.one-possible-box-value td.description {
	font-size: .667em;
}

table.sudoku-board td:hover {
	background-color: rgb(200, 200, 200);
}

div.value {
	position: static;
	display: block;
	font-size: 180%;
}

div.number-picker {
	position: absolute;
	display: block;
	top: -1px;
	left: -1px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 1px dashed;
	z-index: 99;
}

div.number-picker div.number {
	position: absolute;
	display: block;
	height: 1em;
	width: 1em;
	line-height: 1em;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: auto;
	border-radius: 50%;
}

div.number-picker div.number a{
	border-radius: 50%;
	z-index: 100;
}
div.number-picker div.number:hover{
	background-color: red;
	font-color: white;
}

div.clearNumber {
	-webkit-transform: rotate(-90deg) translate(200%) rotate(90deg)
}

div.value1 { 
	-webkit-transform: rotate(-54deg) translate(200%) rotate(54deg);
}

div.value2 { 
	-webkit-transform: rotate(-18deg) translate(200%) rotate(18deg); 
}
div.value3 { 
	-webkit-transform: rotate(18deg) translate(200%) rotate(-18deg); 
}
div.value4 { 
	-webkit-transform: rotate(54deg) translate(200%) rotate(-54deg); 
}
div.value5 { 
	-webkit-transform: rotate(90deg) translate(200%) rotate(-90deg);
}
div.value6 { 
	-webkit-transform: rotate(126deg) translate(200%) rotate(-126deg); 
}
div.value7 { 
	-webkit-transform: rotate(162deg) translate(200%) rotate(-162deg); 
}
div.value8 { 
	-webkit-transform: rotate(198deg) translate(200%) rotate(-198deg); 
}
div.value9 { 
	-webkit-transform: rotate(234deg) translate(200%) rotate(-234deg); 
}

